{% extends 'Escuela/comun/base.html' %}
{% block content %}
    <h1>Información</h1>
    
    <p>Bienvenido a nuestra aplicación web para la elaboración de boletines escolares en la Escuela Bolivariana Dr. Miguel Oraá.</p>
    
    <p>Esta aplicación te permite gestionar y registrar las notas de los estudiantes de nuestra escuela, generando boletines escolares de forma sencilla y eficiente.</p>
    
    <h2>Características de la aplicación</h2>
    
    <ul>
        <li>Registro de estudiantes</li>
        <li>Gestión de notas por estudiante</li>
        <li>Generación automática de boletines escolares</li>
        <li>Acceso seguro para docentes y administradores</li>
        <li>Interfaz intuitiva y fácil de usar</li>
    </ul>
    
    <p>Si eres docente o administrador de la Escuela Bolivariana Dr. Miguel Oraá, puedes iniciar sesión en nuestra aplicación y comenzar a utilizarla de inmediato.</p>
    
    <p>Si tienes alguna pregunta o necesitas más información, no dudes en contactarnos.</p>

    <h3>Encargados de la pagina web</h3>

    <li>Bachiller Jesús Valdez</li>
    <li>Contacto</li>
    <li>Telefono: 0412-4516219</li>

    <li>Bachiller Joel Linares</li>
    <li>Contacto</li>
    <li>Telefono: 0416-0126886</li>

    
    <p>¡Gracias por utilizar nuestra aplicación web para la elaboración de boletines escolares!</p>
{% endblock %}