{% extends 'todo/layout.html' %}

{% block content %}
    <h1>Estudiantes y sus Notas</h1>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Notas</th>
        </tr>
        {% for estudiante in estudiantes %}
        <tr>
            <td>{{ estudiante.nombre }}</td>
            <td>
                <table>
                    {% for nota in estudiante.notas.all %}
                    <tr>
                        <td>{{ nota.nota }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td>Sin nota</td>
                    </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2">No hay estudiantes</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}